.comment-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -10%;
}

.comment-wrapper h1{
  margin-bottom: 20px;
}

.comment-wrapper p{
  font-size: 20px;
}

.comment-wrapper input{
  margin-bottom: 20px;
  font-size: 18px;
  width: 500px;
}

.comment-wrapper textarea{
  width: 500px;
}

.btn {
  position: absolute;
  width: 180px;
  padding: 16px;
  margin: 100px;
}

