.result-wrapper {
    display: flex;
    flex-direction: column;
    align-items: left;
  }

  .result-wrapper span.stress{
    color: rgb(32, 107, 187);
    font-weight: bolder;
  }
  
  .result-wrapper h1 {
    margin-bottom: 30px;
  }